ENVIRONMENT=DEV
KC_URL=http://keycloak-admin.dev.ed.dataspaceunit.upm
KC_INTERNAL_URL=http://keycloak.dev.ed.dataspaceunit.upm
KEYCLOAK_HOSTNAME=keycloak.dev.ed.dataspaceunit.upm
KEYCLOAK_ADMIN_HOSTNAME=keycloak-admin.dev.ed.dataspaceunit.upm
KC_USER=admin
KC_PASSWORD=change-me
PG_HOST=localhost
PG_PORT=5432
DATABASE_HOSTNAME=common-srvs-postgresql.common-srvs.svc
PG_USER=postgres
PG_PASSWORD=change-me
MINIO_HOSTNAME=minio.dev.ed.dataspaceunit.upm
MINIO_CONSOLE_HOSTNAME=console.minio-s3.dev.ed.dataspaceunit.upm
MINIO_USER=admin
MINIO_PASSWORD=change-me
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ADMIN_USER=admin
MINIO_ADMIN_PASS=change-me
VAULT_URL=http://common-srvs-vault.common-srvs.svc:8200
VT_URL=http://127.0.0.1:8200
VT_TOKEN=
DOMAIN_BASE=dev.ed.dataspaceunit.upm
DS_DOMAIN_BASE=dev.ds.dataspaceunit.upm
MINIKUBE_PROFILE=minikube
VM_EXTERNAL_IP=
VM_COMMON_IP=
VM_DATASPACE_IP=
VM_CONNECTORS_IP=
VM_COMPONENTS_IP=
INGRESS_EXTERNAL_IP=
TOPOLOGY_ROUTING_MODE=host
NAMESPACE_PROFILE=compact
