ENVIRONMENT=DEV
PG_HOST=localhost
PG_USER=postgres
PG_PASSWORD=CHANGE_ME
KC_URL=http://keycloak-admin.dev.ed.dataspaceunit.upm
KC_USER=admin
KC_PASSWORD=CHANGE_ME
KC_INTERNAL_URL=http://keycloak.dev.ed.dataspaceunit.upm
VT_URL=http://localhost:8200
VT_TOKEN=X
DATABASE_HOSTNAME=common-srvs-postgresql.common-srvs.svc
KEYCLOAK_HOSTNAME=keycloak.dev.ed.dataspaceunit.upm
MINIO_HOSTNAME=minio.dev.ed.dataspaceunit.upm
VAULT_URL=http://common-srvs-vault.common-srvs.svc:8200
DOMAIN_BASE=dev.ed.dataspaceunit.upm
DS_DOMAIN_BASE=dev.ds.dataspaceunit.upm
MINIO_USER=admin
MINIO_PASSWORD=CHANGE_ME
DS_1_NAME=demo
DS_1_NAMESPACE=demo
DS_1_CONNECTORS=citycouncil,company
COMPONENTS=ontology-hub
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_NAME=kafka-stream-topic
KAFKA_TOPIC_STRATEGY=STATIC_TOPIC
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_CONTAINER_NAME=kafka-local
KAFKA_CONTAINER_IMAGE=confluentinc/cp-kafka:7.5.2
