DS_1_NAME=demoedc
DS_1_NAMESPACE=demoedc
DS_1_CONNECTORS=citycounciledc,companyedc
EDC_DASHBOARD_ENABLED=true
EDC_DASHBOARD_PROXY_AUTH_MODE=oidc-bff
EDC_DASHBOARD_PROXY_CLIENT_ID=dataspace-users
EDC_DASHBOARD_PROXY_SCOPE=openid profile email
EDC_DASHBOARD_BASE_HREF=/edc-dashboard/
