VM_EXTERNAL_IP=
VM_COMMON_IP=
VM_DATASPACE_IP=
VM_PROVIDER_IP=
VM_CONSUMER_IP=
VM_CONNECTORS_IP=
VM_COMPONENTS_IP=
VM_OBSERVABILITY_IP=
INGRESS_EXTERNAL_IP=
CLUSTER_TYPE=k3s
K3S_KUBECONFIG=/etc/rancher/k3s/k3s.yaml
